body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a.playLink {
    background: url('../images/play-btn-small.png') no-repeat top left;
    display: inline-block;
    width: 30px;
    height: 24px;
    text-indent: -9999px; /* hides the link text */
}

a.editLink {
    background: url('../images/edit-btn-active.png') no-repeat top left;
    background-position-y:center;
    display: inline-block;
    width: 18px;
    height: 20px;
/*   margin-top: 3px;  */
    text-indent: -9999px; /* hides the link text */
}


a.cancelLink {
    background: url('../images/clear.png') no-repeat top left;
    background-position-y: -12px;
    display: inline-block;
    width: 30px;
    height: 24px;
    text-indent: -9999px; /* hides the link text */
}

table tbody td.actionLinks {
    padding-left: 2px;
    padding-right: 2px;
    line-height: 1.428571429;
    vertical-align: top;
    white-space: nowrap;
    border-top: 1px solid #dddddd;
    width: 1px; /*  force width to size of image */
}

table thead th.actionLinks {
    padding-left: 1px;
    padding-right: 1px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    width: 1px;  /* force width to size of image */
}
