<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b25623da-6ba2-4428-9db3-2f565283b82d/resourcegroups/Torquex/providers/Microsoft.Web/sites/TorquexMediaPlayer2</ResourceId>
    <ResourceGroup>Torquex</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://torquexmediaplayer2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>torquexmediaplayer2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TorquexMediaPlayer2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TorquexMediaPlayer2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:torquexdb1.database.windows.net,1433;Initial Catalog=TorquexPlayer;Persist Security Info=False;User ID=Simon;Password=Jasper123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TorquexMediaPlayer.Models.ApplicationDbContext, TorquexMediaPlayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TranscriptDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:torquexdb1.database.windows.net,1433;Initial Catalog=TorquexPlayer;Persist Security Info=False;User ID=Simon;Password=Jasper123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TorquexMediaPlayer.Models.TranscriptDBContext, TorquexMediaPlayer" MigrationConfiguration="TorquexMediaPlayer.Migrations.Configuration, TorquexMediaPlayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TranscriptDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:torquexdb1.database.windows.net,1433;Initial Catalog=TorquexPlayer;Persist Security Info=False;User ID=Simon;Password=Jasper123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:torquexdb1.database.windows.net,1433;Initial Catalog=TorquexPlayer;Persist Security Info=False;User ID=Simon;Password=Jasper123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TranscriptDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:torquexdb1.database.windows.net,1433;Initial Catalog=TorquexPlayer;Persist Security Info=False;User ID=Simon;Password=Jasper123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:torquexdb1.database.windows.net,1433;Initial Catalog=TorquexPlayer;Persist Security Info=False;User ID=Simon;Password=Jasper123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TranscriptDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:torquexdb1.database.windows.net,1433;Initial Catalog=TorquexPlayer;Persist Security Info=False;User ID=Simon;Password=Jasper123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:torquexdb1.database.windows.net,1433;Initial Catalog=TorquexPlayer;Persist Security Info=False;User ID=Simon;Password=Jasper123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TranscriptDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:torquexmediaplayer2dbserver.database.windows.net,1433;Initial Catalog=TorquexMediaPlayer2_db;User Id=dbadmin@torquexmediaplayer2dbserver;Password=Torquex007</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:torquexmediaplayer2dbserver.database.windows.net,1433;Initial Catalog=TorquexMediaPlayer2_db;User Id=dbadmin@torquexmediaplayer2dbserver;Password=Torquex007</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>