<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b25623da-6ba2-4428-9db3-2f565283b82d/resourcegroups/Default-ApplicationInsights-EastUS/providers/Microsoft.Web/sites/TorquexPlayer</ResourceId>
    <ResourceGroup>Default-ApplicationInsights-EastUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://torquexplayer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>torquexplayer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TorquexPlayer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TorquexPlayer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:torquexsql02.database.windows.net,1433;Initial Catalog=TorquexMedia;Persist Security Info=False;User ID=TAdministrator;Connect Timeout=300;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:torquexsql02.database.windows.net,1433;Initial Catalog=TorquexMedia;Persist Security Info=False;User ID=TAdministrator;MultipleActiveResultSets=True;Connect Timeout=300;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TorquexMediaPlayer.Models.ApplicationDbContext, TorquexMediaPlayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TranscriptDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:torquexsql02.database.windows.net,1433;Initial Catalog=TorquexMedia;Persist Security Info=False;User ID=TAdministrator;Connect Timeout=300;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:torquexsql02.database.windows.net,1433;Initial Catalog=TorquexMedia;Persist Security Info=False;User ID=TAdministrator;MultipleActiveResultSets=True;Connect Timeout=300;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TorquexMediaPlayer.Models.TranscriptDBContext, TorquexMediaPlayer" MigrationConfiguration="TorquexMediaPlayer.Migrations.Configuration, TorquexMediaPlayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TorquexMediaEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:torquexsql02.database.windows.net,1433;Initial Catalog=TorquexMedia;Persist Security Info=False;User ID=TAdministrator;Connect Timeout=300;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:torquexsql02.database.windows.net,1433;Initial Catalog=TorquexMedia;Persist Security Info=False;User ID=TAdministrator;MultipleActiveResultSets=True;Connect Timeout=300;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:torquexsql02.database.windows.net,1433;Initial Catalog=TorquexMedia;Persist Security Info=False;User ID=TAdministrator;Connect Timeout=300;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TorquexMediaEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:torquexsql02.database.windows.net,1433;initial catalog=TorquexMedia;persist security info=False;user id=TAdministrator;connect timeout=300;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TorquexMediaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:torquexsql02.database.windows.net,1433;initial catalog=TorquexMedia;persist security info=False;user id=TAdministrator;multipleactiveresultsets=True;connect timeout=300;encrypt=True;trustservercertificate=False;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:torquexsql02.database.windows.net,1433;Initial Catalog=TorquexMedia;Persist Security Info=False;User ID=TAdministrator;MultipleActiveResultSets=True;Connect Timeout=300;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TranscriptDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:torquexsql02.database.windows.net,1433;Initial Catalog=TorquexMedia;Persist Security Info=False;User ID=TAdministrator;MultipleActiveResultSets=True;Connect Timeout=300;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>